Repository openmaptiles/openmaptiles, pull requests merged in 2020-11, with the labels that each got.

#1040 README - Rename target for bbox-file by new tool 5.3
  QUICKSTART.md
  README.md
Labels: cleanup, docs

#1042 Fix landcover generalization.
  layers/landcover/generalized.sql
Labels: SQL

#1043 Remove unused generalization from waterway
  layers/waterway/etl_diagram.png
  layers/waterway/mapping.yaml
  layers/waterway/update_waterway_linestring.sql
Labels: cleanup

#1044 Building aggregation fix
  layers/building/building.sql
  layers/building/etl_diagram.png
  layers/building/update_building.sql
Labels: SQL
