Repository openmaptiles/openmaptiles, pull requests merged in 2021-08, with the labels that each got.

#1166 Update the description of the water layer's class
  layers/water/water.yaml
Labels: docs

#1174 Implement private road tagging
  layers/transportation/mapping.yaml
  layers/transportation/transportation.sql
  layers/transportation/transportation.yaml
  layers/transportation/update_transportation_merge.sql
Labels: schema-change, SQL

#1175 Add support for cemetery tagged as grave_yard
  layers/landuse/class.sql
  layers/landuse/landuse.sql
  layers/landuse/landuse.yaml
  layers/landuse/mapping.yaml
  layers/landuse/mapping_diagram.png
Labels: SQL
