Repository openmaptiles/openmaptiles, pull requests merged in 2023-01, with the labels that each got.

#1450 Improve `class=path` styling
  layers/aerodrome_label/style.json
  layers/aeroway/style.json
  layers/boundary/style.json
  layers/housenumber/style.json
  layers/mountain_peak/style.json
  layers/park/style.json
  layers/place/style.json
  layers/poi/style.json
  layers/transportation/style.json
  layers/transportation_name/style.json
  layers/water_name/style.json
  layers/waterway/style.json
  style/icons/oneway-path.svg
Labels: style

#1477 Add substantial missing languages
  openmaptiles.yaml
Labels: languages

#1480 Fix stops aggregation in osm_poi_point.
  layers/poi/update_poi_point.sql
Labels: bug, SQL

#1481 Minor docs enhancement.
  LICENSE.md
  Makefile
  QUICKSTART.md
  README.md
  quickstart.sh
Labels: docs, cleanup, trivial
